.wrapper-burger {
    width: 40px;
}

a {
  bottom: 0;
  height: 80px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
}

.bar {
  background: #333;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 0 0;
  transition: all 500ms;
  width: 100%;
}

.bun-top {
  transform: translate3d(0, 0, 0);
}
.lettuce {
  transform: translate3d(0, -25px, 0) scaleY(0);
  opacity: 0;
}
.mustard {
  transform: translate3d(-75px, 0, 0) scaleY(0);
  opacity: 0;
}
.ketchup {
  transform: translate3d(75px, 0, 0) scaleY(0);
  opacity: 0;
}
.patty {
  transform: translate3d(0, 15px, 0);
}
.bun-bot {
  transform: translate3d(0, 30px, 0);
}

.on .bar {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.on .bun-top {
  background: #d7b48a;
  transform: translate3d(0, 0, 0) scaleY(1.5);
}
.on .lettuce {
  background: #62c852;
  transform: translate3d(0, 20px, 0) scaleY(0.5);
  opacity: 1;
  transition-delay: 200ms;
}
.on .mustard {
  background: #e5e360;
  transform: translate3d(0, 30px, 0) scaleY(0.5);
  opacity: 1;
  transition-delay: 400ms;
}
.on .ketchup {
  background: #ce4a4a;
  transform: translate3d(0, 40px, 0) scaleY(0.5);
  opacity: 1;
  transition-delay: 600ms;
}
.on .patty {
  background: #3d362a;
  transform: translate3d(0, 50px, 0) scaleY(1);
}
.on .bun-bot {
  background: #d7b48a;
  transform: translate3d(0, 65px, 0) scaleY(1.5);
}
